{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":22,"column":19},"end":{"row":22,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"a7b81b75aebe93d32e669bea4d116f994db54ac0","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1565003609142}