html, body {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #ececec;
    font-family: 'Nunito', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
  flex-shrink: 0;
  background-color: #f78888;
  color: #fafafa;
  text-align: center;
  padding: 20px;
}

/*General*/

.card {
    padding: 5px;
    border: none;
}

.errorNumber {
    font-size: 150px;
    font-family: 'Lobster';
}

h1, h2, h3, h4, h5, h6, .nav-brand,
.nav-title, .trough, .searchCounter, .btn, .nav-pills {
    font-family: 'Lobster', cursive;
}

p, ol, ul, .cell {
    overflow-wrap: break-word;
}

.roundTitleDiv {
    height: 25px;
    width: 100%;
}


.roundHomeDiv1 {
    height: 60px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.roundHomeDiv2 {
    height: 60px;
    width: 100%;
}

.bandColour1 {
    background-color: #f3d250;
}
    
.bandColour2 {
    background-color: #f78888;
}

.nav-title {
    font-size: 2.5rem;
}

.padding-bottom {
    padding-bottom: 60px;
}

.marginAuto {
    margin: 0 auto;
}

.marginBottom {
    margin-bottom: 60px;
}

.marginTop {
    margin-top: 60px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.grey {
    background-color: #ececec;
}

.subhead {
  font-size: 1.5em;
}

.about-title {
    background-color: #f78888;
    color: #fff;
    padding-top: 1em;
}

.intro-section {
    padding-top: 1em;
}

/*image styles*/

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.avatar-image {
    width: 100%;
    height: 100%;
}

/*product page stock span styles*/

.green {
   border: 3px solid green;
    border-radius: 10px;
    color: green;
    padding: 5px;
}

.red {
     border: 3px solid red;
    border-radius: 10px;
    color: red;
    padding: 5px;
}

/*Style removers*/

.no-padding {
    padding: 0;
}

.nav-title a:link, .nav-title a:visited,
.nav-title a:hover, .nav-title:active {
    text-decoration: none;
    color: #072c43;
}

.btn-block a:link, .btn-block a:visited,
.btn-block a:hover, .btn-block:active {
    text-decoration: none;
}

.no-list-style {
    list-style-type: none;
    padding: 0;
}

.dc-chart {
    float: none !important;
}

/*containers*/

.content {
    flex: 1 0 auto;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
}

.recipe-row {
    background-color: #fafafa;
    border-radius: 5px;
    margin: 10px 10px 60px 10px;
    padding: 10px;
}

.settings-row {
    margin: 10px;
    padding: 10px;
}

.image-container {
    height: 200px;
}

.logo-image-container {
    height: 200px;
    width: 200px;
}

.sleeve {
    /*the sleeve height takes account of the nav bar to ensure that
    no more than 77.5% of the screen is taken up by it*/
    height: calc(77.5vh - 70px);
    position: relative;
    overflow: hidden;
    background-color: #90CCF4;
}

.homepageContainer {
    background-color: #f78888;
    padding-top: 70px;
}

.homepage {
     background-color: #fafafa;
}

.container {
    padding-top: 70px;
}

.trough {
    background-color: #f3d250;
}

.info-box-container {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.avatar-image-container {
    /*height: 200px;*/
    /*width: 200px;*/
    margin: 15px auto;
}

.menu-span {
    display: none;
}

.heading-box-container {
    background-color: #90ccf4;
    color: #072c43;
}

.heading-box {
    background-color: #90ccf4;
    padding:10px;
}

/*Search styles*/

.search-header {
    padding-top: 25px;
}

.search-box {
    padding: 25px 50px 25px 50px;
}

.search-filters {
    padding: 0px 50px;
}

.search-button {
    margin: 10px;
}

.searchCounter {
    padding: 15px;
}

.results {
    border-bottom: 1px solid black;
}

.search-block {
    padding:10px;
}

.search-result {
    background-color: #fafafa;
    padding: 10px;
    /*height: 425px;*/
    height: 100%; /*(based on largest card in row)*/
}

/*tab contents*/

.tab-pane {
    padding: 20px;
}

.tab-pane {
    background-color: #fafafa;
    border-radius: 0px 0px 5px 5px;
}

/*form-elements*/

input {
  width: 50%;  
}

.required {
    margin-left: 5px;
}

.form-control {
	width: 100%;
}

.form-control.reduce {
	width: 80%;
	display: inline;
}

fieldset {
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
    border-radius: 5px 5px 5px 5px;
}

legend {
    padding:0px 10px;
    background:black;
    color:#FFF;
    width:inherit;
    font-family: 'Lobster';
    border-radius: 5px 5px 5px 5px;
}

/*Radio Button Styles*/

/* HIDE RADIO */
.avatarRadio  { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.avatarRadio + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.avatarRadio:checked + img {
  outline: 4.5px solid dodgerblue;
}

/*recipe page*/

.strikeMe {
    text-decoration: line-through;
}

.recipeDescription {
    height: 100px;
}

.cell {
   border: 5px solid white;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: white;
   color: black;
   margin-bottom: 10px;
}

/*navbar styles*/

.navbar-wrapper {
    position: fixed;
    z-index: 997;
    width: 100%;
    padding: 10px;
    height: 70px;
    background-color: #f8f9fa;
    top: 0;
    transition: top 0.3s;
}

.nav-content {
    position: relative;
    height: 50px;
}

.nav-brand {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #072c43
}

/*sidebar*/

.closeBtnContainer {
    height: 70px;
    position: relative;
    background-color: #f8f9fa;
    color: #072c43;
}

.sidebar {
  height: 100%;
  width: 0;
  width: 65%;
  background-color: #f8f9fa;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  /*transition: 0.5s;*/
  /*transition-timing-function: ease;*/
  transform: translateX(-100%);
}

.translateMe {
  transition: 0.5s;
  transition-timing-function: ease;
  transform: translateX(0%);
}

.untranslateMe {
  transition: 0.5s;
  transition-timing-function: ease;
  transform: translateX(-100%);
}

.sidebar a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 1.25em;
  padding-bottom: 5px;
  display: block;
  transition: 0.3s;
  color: #072c43;
  border: 2px solid #f8f9fa;
  border-bottom-right-radius: 35px;
  margin-bottom: 10px;
}

.sidebar a:hover {
  color: #f8f9fa;
  background-color: #072c43;
}

.sidebar .closebtn {
  position: absolute;
  top: 25%;
  right: 10px;
  font-size: 22.5px;
  cursor: pointer;
  padding: 5px;
}

.openbtn {
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #052031;
  border: none;
  font-size: 1.5rem;
  /*restores click functionality disabled by fixed
  positioning of parent container element(navbar)*/
  pointer-events: auto; 
}

.openbtn:hover {
  background-color: #f8f9fa;
  color: #072c43;
}

.closebtn:hover {
  color: #f8f9fa;
  background-color: #072c43;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 998;
}

/*homepage graphic classes*/

/*The three rings are overlaid on top of one another 
using the position: absolute selector. */

.innerRing, .outerRing, .centerRing {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /*Each svg is laid on top of the other, with lower-level
    content visible through the gaps in upper level content.*/
    position: absolute;
    /*The margin space available is calculated by subtacting
    the circle's diameter, to be determined by its width, 
    from the sleeve height. This number is then divided by 2
    to display a vertically aligned circle.*/
    margin-top: calc((77.5vh - 70px - 90vw)/2)
}

.outerRing {
	animation-name: revolving;
	animation-timing-function: linear;
	animation-duration: 14s;
	animation-iteration-count: infinite;
}

.innerRing {
	animation-name: revolvingTwo;
	animation-timing-function: linear;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

@keyframes revolving {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes revolvingTwo {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*media queries*/

/* On smaller screens, where height is less than 450px,
change the style of the sidenav (less padding and a
smaller font size) */
@media screen and (max-height: 450px) {
      .sidebar {
          padding-top: 15px;
      }
      .sidebar a {
          font-size: 18px;
      }
}
    
@media screen and (orientation:landscape){
      .innerRing, .outerRing, .centerRing {
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
        /*Modified circle sizing formula to take account
        of new circle diameter*/
        margin-top: calc((77.5vh - 70px - 35vw)/2)
      }
 }
 
 /*ipads*/
 
 @media only screen and (min-width: 768px){
       .sidebar {
        width: 35%;
    }
    
    .sidebar a {
        font-size: 2em;
    }
    
    .sidebar .closebtn {
        font-size: 30px;
    }
    
    .menu-span {
        display: inline;
    }
    
    .trough {
        font-size: 1.75em;
    }
 }