body {
    background-color: #67A467;
    background-color: #ccdaf3;
    font-family: 'Nunito', sans-serif;
}

.sleeve {
    background-image: url(".././img/dose-juice-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
    height: 67.5vh;
}

.logo-container {
    position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

h1 {
    color: #fafafa;
}

h1, h2, .navbar-brand {
    font-family: 'Lobster', cursive;
}



img {
    width: 100vw;
    z-index: -1;
}

.navbar {
    padding: 10px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: #fafafa;
  text-align: center;
}


input {
  width: 50%;  
}

.form-control {
	width: 80%;
	display: inline;
}

fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
    border-radius: 5px 5px 5px 5px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
    width:inherit;
    font-family: 'Lobster';
    border-radius: 5px 5px 5px 5px;
}



.intro-section {
    padding: 50px;
    background-color: #fafafa;
}

.recipe-row {
    background-color: #fafafa;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
