.sleeve {
    background-image: url(".././img/baehaki-hariri-min-unsplash.jpg"); /*Photo by Lukasz Szmigiel on Unsplash*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    margin: 50px;
}

img {
    width: 100vw;
    z-index: -1;
}

.navbar {
    padding: 10px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: #fafafa;
  text-align: center;
}


input {
  width: 50%;  
}

.form-control {
	width: 80%;
	display: inline;
}

fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
    border-radius: 5px 5px 5px 5px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
    width:inherit;
    font-family: 'Lobster';
    border-radius: 5px 5px 5px 5px;
}



.intro-blurb {
    padding: 50px;
}