{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="heading-box-container">
    <div class="row heading-box">
        <div class="col text-center">
            <h1>Add Recipe</h1>
        </div>
    </div>
    <div style="height: 25px; width: 100%;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #f3d250;"></path></svg>
    </div>
    </div>
    <div style="height: 25px; width: 100%; background-color: #f3d250;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #f78888;"></path></svg>
    </div>
    <div class="marginBottom" style="height: 25px; width: 100%; background-color: #f78888;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ececec;"></path></svg>
    </div>
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="needs-validation" novalidate>
        <div class="form-group">
            <fieldset>
        		<legend>Recipe Name</legend>
            	<div>
                    <input type="text" name="recipe_name" class="form-control" id="recipe_name" placeholder="Name" minlength="3" maxlength="30" required>
                    <small class="form-text text-muted required">Required. Must be 3 to 30 characters long.</small>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please enter a recipe name.
                    </div>
                </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
    		    <legend>Recipe Description</legend>
        	    <div>
                    <textarea class="form-control" name="recipe_description" id="recipe_description" rows="3" maxlength="450"></textarea>
                    <small class="form-text text-muted required">Max 450 characters long</small>
                </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
    		    <legend>Cuisine</legend>
        	    <div>
                    <select class='custom-select' name="recipe_type" required>
                        <option value="">Choose</option>
                        <option value="African">African</option>
                        <option value="American">American</option>
                        <option value="British">British</option>
                        <option value="Chinese">Chinese</option>
                        <option value="French">French</option>
                        <option value="Indian">Indian</option>
                        <option value="Irish">Irish</option>
                        <option value="Italian">Italian</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Thai">Thai</option>
                        <option value="Other">Other</option>
                    </select>
                    <small class="form-text text-muted required">Required</small>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please choose a cuisine.
                    </div>
                </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
    		    <legend>Meal Type</legend>
        	        <div>
                        <select class='custom-select' name="meal_type" required>
                            <option value="">Choose</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Snack">Snack</option>
                            <option value="Shake">Shake</option>
                        </select>
                        <small class="form-text text-muted required">Required</small>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please choose a meal type.
                        </div>
                    </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
        		<legend>Recipe Preptime</legend>
            	<div>
                    <input type="text" class="form-control" name="recipe_preptime" id="recipe_preptime" placeholder="Enter a time" maxlength="20" required>
                    <small class="form-text text-muted required">Required</small>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please enter a time.
                    </div>
                </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
        		<legend>Cooking Time</legend>
            	<div>
                    <input type="text" class="form-control" name="recipe_cooktime" id="recipe_cooktime" placeholder="Enter a length of time" maxlength="20" required>
                    <small class="form-text text-muted required">Required</small>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please enter a time.
                    </div>
                </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
        	    <legend>Recipe Serves</legend>
            	<div>
                    <input type="text" class="form-control" name="recipe_serves" id="recipe_serves" placeholder="Enter a number" maxlength="20" required>
                    <small class="form-text text-muted required">Required</small>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please enter a number.
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
        		<legend>Add ingredients</legend>
            	<div class="field_wrapper">
                	<div>
                	    <textarea class="form-control reduce" name="recipe_ingredient" rows="1" placeholder="Enter ingredient" required>{{ingredient}}</textarea>
                	    <small class="form-text text-muted required">Required</small>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please add an ingredient.
                        </div>
                	</div>
                </div>
                <a href="#/" class="add_button btn btn-primary" title="Add field">Add ingredient</a>
                <!--#/ as href prevents page from jumping when link is clicked-->
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
    		    <legend>Add steps</legend>
    		          <div class="field_wrapper2">
        	               <div>
        	                   <textarea class="form-control reduce" name="recipe_step" rows="2" placeholder="Enter step" required></textarea>
        	                   <small class="form-text text-muted required">Required</small>
        	                   <div class="valid-feedback">
                                  Looks good!
                                </div>
                                <div class="invalid-feedback">
                                  Please add a step.
                                </div>
        	               </div>
            	      </div>
            	      <a href="#/" class="add_button2 btn btn-primary" title="Add field">Add step</a> 
	        </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
        		<legend>Diet</legend>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" name="diet" value="Vegetarian">
                    <label class="custom-control-label" for="customSwitch1">Does not contain meat</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" name="diet" value="Dairy-free">
                    <label class="custom-control-label" for="customSwitch2">Does not contain dairy</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" name="diet" value="Nut-free">
                    <label class="custom-control-label" for="customSwitch3">Does not contain nuts</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4" name="diet" value="Gluten-free">
                    <label class="custom-control-label" for="customSwitch4">Gluten-free</label>
                </div>
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch5" name="diet" value="Low-sugar">
                    <label class="custom-control-label" for="customSwitch5">Low in sugar</label>
                </div>
        	</fieldset>
        </div>
        <div class="form-group">
            <fieldset>
        		<legend>Recipe Image</legend>
                <div>
                    <input type="text" name="recipe_image" class="form-control" id="recipe_image" placeholder="image url">
              	</div>
        	</fieldset>
            </div>
        <div class="form-group text-center">
            <button class="btn btn-primary btn-lg" type="submit" name="action">Add Recipe</button>
        </div>
    </form>
</div>
{% endblock %}