{% extends 'base.html' %} {% block content %}

        <h1 class="text-center">Change Password</h1>
        <div class="container padding">
            <form method=POST action="{{ url_for('change_pw_form') }}"> 
              <div class="form-group">
                <label for="exampleInputPassword1">Old Password</label>
                <input type="password" class="form-control" name="old_password" placeholder="Old Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">New Password</label>
                <input type="password" class="form-control" name="new_password" placeholder="New Password">
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>


{% endblock %}