{% extends 'base.html' %} 
    {% block content %}
    <div class="row">
        <div class="col"><h1>Discover</h1></div>
    </div>
    <!--Find and sort recipes by view count. Return the first 3 with the most views.-->
    <div class="row">
       <div class="col"><h2>Most viewed recipes this month</h2></div>
    </div>
    <div class="row">
       {% for recipe in top_recipes %}
       <div class="col-4">
           <h3> {{ recipe.recipe_name }} </h3>
            <p> by {{ recipe.name }}</p>
            <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
            <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>
       </div>
       {% endfor %}
    </div>
    
    
    <div class="row">
       <div class="col"><h2>Recently Submitted</h2></div>
    </div>
    <div class="row">
       {% for recipe in most_recent %}
       <div class="col-4">
           <h3> {{ recipe.recipe_name }} </h3>
            <p> by {{ recipe.name }}</p>
            <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
            <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>
       </div>
       {% endfor %}
    </div>
    
    
    {% endblock %}