{% extends 'base.html' %} 
    {% block content %}
    <div class="container">
        <!--<div class="row">-->
        <!--    <div class="col"> -->
        <!--     <div id="chart-here"></div>-->
        <!--    </div>-->
        <!--</div>-->
        
        <div class="row">
            <div class="col text-center"><h1>Discover</h1></div>
        </div>
    
        <div class="row">
            <div class="col-12 text-center">
                <h3>Total number of recipes: {{ recipe_total }}</h3>
            </div>
            <div class="col-12 text-center">
                <h3>Total number of users: {{ user_total }}</h3>
            </div>
        </div>
        
            
        
        <!--Include breakdown by type/s -->
        
        <!--Cuisine pie chart-->
        
        <!--New usser/recipes per month graphs-->
        
        <div class="row">
           <div class="col"><h2>Most viewed recipes</h2></div>
        </div>
     
           <div class="row recipe-row">
                {% for recipe in top_recipes %}
               <div class="col-4">
                   <div class="card">
                        <div class="image-container">
                          
                        {% if recipe.recipe_image != "" %}
                              <img src="{{recipe.recipe_image}}" alt="recipe image">
                        {% else %}
                              <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                        {% endif %}
               
                        </div>
                        <div class="card-body">
                          <div class="card-title text-truncate">{{recipe.recipe_name}}</div>
                          <div class="card-title">by {{recipe.name}}</div>
                          <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
           </div>
           
        
        
          <!--<div class="row recipe-row">-->
          <!-- {% for recipe in top_recipes %}-->
          <!-- <div class="col-4">-->
          <!--     <h3 class="text-truncate"> {{ recipe.recipe_name }} </h3>-->
          <!--      <p> by {{ recipe.name }}</p>-->
          <!--      <div class="image-container">-->
          <!--      <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">-->
          <!--      </div>-->
          <!--      <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>-->
          <!-- </div>-->
           
          <!-- {% endfor %}-->
           
        
        
        <!--<div class="row">-->
        <!--   <div class="col"><h2>Recently Submitted</h2></div>-->
        <!--</div>-->
        <!--<div class="row recipe-row">-->
        <!--   {% for recipe in most_recent %}-->
        <!--   <div class="col-4">-->
        <!--       <h3> {{ recipe.recipe_name }} </h3>-->
        <!--        <p> by {{ recipe.name }}</p>-->
        <!--        <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">-->
        <!--        <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>-->
        <!--   </div>-->
        <!--   {% endfor %}-->
        <!--</div>-->
        
        <div class="row">
           <div class="col">
               <h2>Most Favourited</h2>
            </div>
        </div>
        
        <div class="row recipe-row">
            {% for favourite in most_favourited %}
               <div class="col-4">
                   <div class="card">
                        <div class="image-container">
                          
                        {% if favourite.recipe_image != "" %}
                              <img src="{{favourite.recipe_image}}" alt="recipe image">
                        {% else %}
                              <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                        {% endif %}
               
                        </div>
                        <div class="card-body">
                          <div class="card-title text-truncate">{{favourite.recipe_name}}</div>
                          <div class="card-title">by {{favourite.name}}</div>
                          <a href="{{ url_for('recipe', id=favourite._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
           </div>
        <!--<div class="row recipe-row">-->
        <!--   {% for recipe in most_favourited %}-->
        <!--   <div class="col-4">-->
        <!--       <h3 class="text-truncate"> {{ recipe.recipe_name }} </h3>-->
        <!--        <p> by {{ recipe.name }}</p>-->
        <!--        <div class="image-container">-->
        <!--        <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">-->
        <!--        </div>-->
        <!--        <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>-->
        <!--   </div>-->
        <!--   {% endfor %}-->
        <!--</div>-->
    </div>
   
    
    
    {% endblock %}