{% extends 'base.html' %} 
    {% block content %}
    <div class="container">
        
     <div class="heading-box-container"> 
       <h1  class="text-center">Discover</h1>
        <div class="row heading-box">
            <div class="col">
          
            </div>
            <div class="col-12">
                <div class="row">
                   
                    <div class="col-6">
                        <p>Total number of recipes: {{ recipe_total }}</p>
                    </div>
                    <div class="col-6">
                        <p>Total number of users: {{ user_total }}</p>
                    </div>
                  
                </div>
            </div>
            
            <div style="height: 25px; width: 100%; " >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #90CCF4;"></path></svg>
            </div>
        </div>
    </div>
    
    <div style="height: 25px; width: 100%; background-color: #90CCF4;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ececec;"></path></svg>
    </div>
         
        <div class="row recipe-row">
            <div class="col-12 col-md-4" align="center"> 
             <h4>Cusine of Recipes Submitted</h4>
             <div id="chart-here"></div>
            </div>
              
            <div class="col-12 col-md-4"> 
                <h4>Cusine of Recipes Viewed</h4>
                     <div id="another-chart-here"></div>
            </div>
            
               <div class="col-12 col-md-4"> 
                <h4>Cusine of Recipes Favourited</h4>
                     <div id="final-chart-here"></div>
            </div>
        </div>
        
      <div class="row recipe-row">
            <div class="col-12"><h2 class='text-center'>Most Viewed Recipes</h2></div>
            <div class="col">
            <ol>
                 {% for recipe in top_recipes %}
                 
                  {% if loop.index == 1%}
                      <a href="{{ url_for('recipe', id=recipe._id) }}"><div class="image-container">
                                                  
                                                        {% if recipe.recipe_image != "" %}
                                                              <img src="{{recipe.recipe_image}}" alt="recipe image">
                                                        {% else %}
                                                              <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                                                        {% endif %}
                                       
                                        </div></a>
                   <li> 
                 
                                        <a href="{{ url_for('recipe', id=recipe._id) }}">{{recipe.recipe_name}} by {{recipe.author}}</a> <br> Views: {{ recipe.views }} <br>
                    
                   
                  </li>
                  
                  
                  {% else %}
                        {% if loop.index % 2 == 0 %}
                     <li class="grey">   <a href="{{ url_for('recipe', id=recipe._id) }}">{{recipe.recipe_name}} by {{recipe.author}}</a> <br> Views: {{ recipe.views }} <br>
                    
                    
                  </li>
                        
                        {% else %}
                  <li>   <a href="{{ url_for('recipe', id=recipe._id) }}">{{recipe.recipe_name}} by {{recipe.author}}</a> <br> Views: {{ recipe.views }}<br>
                    
                  
                  </li>
                        {% endif %}
                  {% endif %}

                  {% endfor %}   
            </ol>
            </div>
                     
      
                   

        </div>
        
              <div class="row recipe-row">
            <div class="col-12"><h2 class='text-center'>Most Favourited Recipes</h2></div>
            <div class="col">
            <ol>
                     {% for recipe in most_favourited %}
                 
                  {% if loop.index == 1%}
                    <a href="{{ url_for('recipe', id=recipe._id) }}"> <div class="image-container">
                                                  
                                                        {% if recipe.recipe_image != "" %}
                                                              <img src="{{recipe.recipe_image}}" alt="recipe image">
                                                        {% else %}
                                                              <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                                                        {% endif %}
                                       
                                        </div></a>
                   <li> 
               
                           <a href="{{ url_for('recipe', id=recipe._id) }}"> {{recipe.recipe_name}} by {{recipe.author}}  </a> <br> Favourites: {{ recipe.favourites }} <br>
                    
                  
                    
                      
                  </li>
                  
                  
                  {% else %}
                   {% if loop.index % 2 == 0 %}
                     <li class="grey"> <a href="{{ url_for('recipe', id=recipe._id) }}"> {{recipe.recipe_name}} by {{recipe.author}}  </a>  <br> Favourites: {{ recipe.favourites }}
                
                   
                  </li>
                        
                        {% else %}
                  <li> <a href="{{ url_for('recipe', id=recipe._id) }}"> {{recipe.recipe_name}} by {{recipe.author}}  </a> <br> Favourites: {{ recipe.favourites }}
                   
                    
                  </li>
                        {% endif %}
                
                  {% endif %}

                  {% endfor %}   
            </ol>
            </div>
                     
      
                   

        </div>
        
        
           
                      <div class="row recipe-row">
                           <div class="col-12">
                               <h2 class='text-center'>Recently Submitted</h2>
                            </div>
                            <div class="col-12">
                                     <ol>
                                        {% for recent in most_recent %}
                                         {% if loop.index ==1 %}
                                              <a href="{{ url_for('recipe', id=recent._id) }}"> <div class="image-container">
                                                  
                                                        {% if recent.recipe_image != "" %}
                                                              <img src="{{recent.recipe_image}}" alt="recipe image">
                                                        {% else %}
                                                              <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                                                        {% endif %}
                                       
                                        </div></a>
                 <li> <a href="{{ url_for('recipe', id=recent._id) }}">
                                        {{recent.recipe_name}} by {{recent.author}}</a> <br> Submitted: {{ recent.time_created }}</li>
                                         
                                         {% else %}
                                        
                                        
                                        
                                        
                                          {% if loop.index % 2 == 0 %}
                                        <li class="grey"> <a href="{{ url_for('recipe', id=recent._id) }}">
                                        {{recent.recipe_name}} by {{recent.author}}</a> <br>
                                        Submitted: {{ recent.time_created }}</li>
                                       {% else %}
                                          <li> <a href="{{ url_for('recipe', id=recent._id) }}">
                                        {{recent.recipe_name}} by {{recent.author}}</a> <br> Submitted: {{ recent.time_created }}</li>
                                         {% endif %}
                                         {% endif %}
                                        {% endfor %}
                                    </ol>
                            </div>
                     </div>
    </div>
    {% endblock %}