{% extends 'base.html' %} {% block content %}
<h1>Edit Recipe</h1>
<div class="container">
    <form action="{{ url_for('update_recipe', id=recipe._id) }}" method="POST">
        
       <div class="form-group">
            <label for="formGroupExampleInput">Recipe Name</label>
            <input type="text" name="recipe_name" class="form-control" value="{{ recipe.recipe_name }}"
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Add ingredients</legend>
        		<div class="field_wrapper">
        	        <div>
        	            {% for ingredient in recipe.recipe_ingredients %}
        	            <input type="text" name="recipe_ingredient" value={{ingredient}} />
        	            {% endfor %}
        	        </div>
            	</div>
        	</fieldset>
    	    <a href="#" class="add_button" title="Add field">Add ingredient</a>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
		    <legend>Add steps</legend>
		          <div class="field_wrapper2">
    	               <div>
    	               {% for step in recipe.recipe_steps %}
    	                <textarea class="form-control" name="recipe_step" rows="2" value="">{{step}}</textarea>
    	                {% endfor %}
    	              </div>
        	       </div>
	        </fieldset>
	        <a href="#" class="add_button2" title="Add field">Add Step</a>
        </div>
        
          <div class="form-group">
            <label for="formGroupExampleInput">Recipe Preptime</label>
            <input type="text" class="form-control" name="recipe_preptime" value="{{ recipe.recipe_preptime }}">
          </div>
          
          <div class="form-group">
            <label for="formGroupExampleInput2">Recipe Serves</label>
            <input type="text" class="form-control" name="recipe_serves"  value="{{ recipe.recipe_serves }}">
          </div>
        
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Recipe Description</label>
            <textarea class="form-control" name="recipe_description"  rows="3">{{recipe.recipe_description}}</textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="action">Update Recipe</button>
        </div>
    </form>
    
</div>

{% endblock %}