{% extends 'base.html' %} {% block content %}



<div class="container">
    <div class="row">
      <div class="col"><h1>Edit Recipe</h1></div>
    </div>
    <form action="{{ url_for('update_recipe', id=recipe._id) }}" method="POST">
        
          <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Recipe Name</legend>
        	
        	        <div>
            <input type="text" name="recipe_name" class="form-control" value="{{ recipe.recipe_name }}">
          	    </div>
        	</fieldset>
            </div>
            
                 <div class="form-group">
          
                    <fieldset id="buildyourform">
            		      <legend>Recipe Description</legend>
                	
                	        <div>
                    <textarea class="form-control" name="recipe_description"  rows="3">{{recipe.recipe_description}}</textarea>
                </div>
                	</fieldset>
                </div>
        
          <div class="form-group">
               <fieldset id="buildyourform">
    		      <legend>Recipe Type</legend>
        	        <div>
                         <select class='custom-select' name="recipe_type" required>
                            <option value="Italian">Italian</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Indian">Indian</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Other">Other</option>
                          </select>
                    </div>
        	    </fieldset>
        </div>
        
         <div class="form-group">
               <fieldset id="buildyourform">
    		      <legend>Recipe Type</legend>
        	        <div>
                         <select class='custom-select' name="meal_type" required>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Snack">Snack</option>
                           
                          </select>
                    </div>
        	    </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Add ingredients</legend>
        		<div class="field_wrapper">
        	        
        	            {% for ingredient in recipe.recipe_ingredients %}
        	                 {% if loop.index == 1 %}
        	                 <div>
        	                 <textarea class="form-control" name="recipe_ingredient" rows="1" value="">{{ingredient}}</textarea>
        	                 </div>
        	                    {% else %}
        	                 <div>
        	                <textarea class="form-control" name="recipe_ingredient" rows="1" value="">{{ingredient}}</textarea><a href="#" class="remove_button">&#10008;</a>
        	                </div>
        	                {% endif %}
        	            {% endfor %}
        	        
            	</div>
        	</fieldset>
    	    <a href="#/" class="add_button" title="Add field"><button type="button" class="btn btn-primary">Add ingredient</button></a>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
		    <legend>Add steps</legend>
		          <div class="field_wrapper2">
    	               
    	               {% for step in recipe.recipe_steps %}
    	                   {% if loop.index == 1 %}
    	                   <div>
    	                   <textarea class="form-control" name="recipe_step" rows="2" value="">{{step}}</textarea>
    	                   </div>
    	                       {% else %}
    	                    <div>
    	                    <textarea class="form-control" name="recipe_step" rows="2" value="">{{step}}</textarea><a href="#" class="remove_button2">&#10008;</a>
    	                    </div>
    	                    {% endif %}
    	                
    	                {% endfor %}
    	              
        	       </div>
	        </fieldset>
	        <a href="#/" class="add_button2" title="Add field"><button type="button" class="btn btn-primary">Add step</button></a>
        </div>
        
          <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Recipe Preptime</legend>
        	
        	        <div>
            <input type="text" class="form-control" name="recipe_preptime" value="{{ recipe.recipe_preptime }}">
            </div>
        	</fieldset>
          </div>
          
          <div class="form-group">
              <fieldset id="buildyourform">
    		      <legend>Recipe Serves</legend>
        	
        	        <div>
            
            <input type="text" class="form-control" name="recipe_serves"  value="{{ recipe.recipe_serves }}">
            </div>
        	</fieldset>
          </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		      <legend>Diet</legend>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1" name="diet" value="Vegetarian">
                      <label class="custom-control-label" for="customSwitch1">Does not contain meat</label>
                    </div>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch2" name="diet" value="Vegan">
                      <label class="custom-control-label" for="customSwitch2">Does not contain dairy</label>
                    </div>
                     <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch3" name="diet" value="Nut-free">
                      <label class="custom-control-label" for="customSwitch4">Does not contain nuts</label>
                    </div>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch4" name="diet" value="Gluten-free">
                      <label class="custom-control-label" for="customSwitch4">Gluten-free</label>
                    </div>
        	</fieldset>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		      <legend>Applicances and Utensils</legend>
        	        <div>
        	                  	        <div class="row">
        	            <div class="col-4">
        	           <label class="checkboxContainer">Pan
                          <input type="checkbox" checked="checked" name="tool" value="Pan">
                          <span class="checkmark"></span>
                        </label>
                        <label class="checkboxContainer">Spatula
                          <input type="checkbox" name="tool" value="Spatula">
                          <span class="checkmark"></span>
                        </label>
                        <label class="checkboxContainer">Blender
                          <input type="checkbox" name="tool" value="Blender">
                          <span class="checkmark"></span>
                        </label>
        	            </div>
        	            <div class="col-4">
        	                   <label class="checkboxContainer">Whisk
                          <input type="checkbox" name="tool" value="Whisk">
                          <span class="checkmark"></span>
                        </label>
                        
                         <label class="checkboxContainer">Pot
                          <input type="checkbox" name="tool" value="Pot">
                          <span class="checkmark"></span>
                        </label>
                        
                         <label class="checkboxContainer">Kitchen Knife
                          <input type="checkbox" name="tool" value="Kitchen Knife">
                          <span class="checkmark"></span>
                        </label>
        	            </div>
        	            <div class="col-4">
        	                    
                        <label class="checkboxContainer">Cutting-board
                          <input type="checkbox" name="tool" value="Cutting-board">
                          <span class="checkmark"></span>
                        </label>
                        
                        <label class="checkboxContainer">Wooden Pestle and Mortar
                          <input type="checkbox" name="tool" value="Wooden Pestle and Mortar">
                          <span class="checkmark"></span>
                        </label>
                        
                        <label class="checkboxContainer">Kitchen Knife
                          <input type="checkbox" name="tool" value="Kitchen Knife">
                          <span class="checkmark"></span>
                        </label>
                        
        	            </div>
        	        </div>
        	            <!--<label class="checkboxContainer">Frying Pan-->
                     <!--     <input type="checkbox" checked="checked" name="tool" value="Frying Pan">-->
                     <!--     <span class="checkmark"></span>-->
                     <!--   </label>-->
                     <!--   <label class="checkboxContainer">Spatula-->
                     <!--     <input type="checkbox" name="tool" value="Spatula">-->
                     <!--     <span class="checkmark"></span>-->
                     <!--   </label>-->
                     <!--   <label class="checkboxContainer">Oven-->
                     <!--     <input type="checkbox" name="tool" value="Oven">-->
                     <!--     <span class="checkmark"></span>-->
                     <!--   </label>-->
                    </div>
        	</fieldset>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Recipe Image</legend>
        	
        	        <div>
            <input type="text" name="recipe_image" class="form-control" value="{{ recipe.recipe_image }}">
          	    </div>
        	</fieldset>
            </div>
        
        <div class="form-group">
            <!--<button class="btn btn-primary" type="submit" name="action">Update Recipe</button>-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Update Recipe
            </button>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm changes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you want to save your changes?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="submit" name="action">Update Recipe</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    
    <!--return date and time of edit-->
    
</div>

{% endblock %}