{% extends 'base.html' %} {% block content %}
<h1>Edit Recipe</h1>
<div class="container">
    <form action="{{ url_for('update_recipe', id=recipe._id) }}" method="POST">
        
          <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Recipe Name</legend>
        	
        	        <div>
            <input type="text" name="recipe_name" class="form-control" value="{{ recipe.recipe_name }}">
          	    </div>
        	</fieldset>
            </div>
        
          <div class="form-group">
               <fieldset id="buildyourform">
    		      <legend>Recipe Type</legend>
        	        <div>
                         <select name="recipe_type" required>
                            <option value="Italian">Italian</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Indian">Indian</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Other">Other</option>
                          </select>
                    </div>
        	    </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Add ingredients</legend>
        		<div class="field_wrapper">
        	        <div>
        	            {% for ingredient in recipe.recipe_ingredients %}
        	            <!--<input type="text" name="recipe_ingredient" />-->
        	            <textarea class="form-control" name="recipe_ingredient" rows="1" value="">{{ingredient}}</textarea><a href="#" class="remove_button">&#10008;</a>
        	            {% endfor %}
        	        </div>
            	</div>
        	</fieldset>
    	    <a href="#" class="add_button" title="Add field"><button type="button" class="btn btn-primary">Add ingredient</button></a>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
		    <legend>Add steps</legend>
		          <div class="field_wrapper2">
    	               <div>
    	               {% for step in recipe.recipe_steps %}
    	                   {% if loop.index = 0 %}
    	                   <textarea class="form-control" name="recipe_step" rows="2" value="">{{step}}</textarea>
    	                       {% else %}
    	                    <textarea class="form-control" name="recipe_step" rows="2" value="">{{step}}</textarea><a href="#" class="remove_button2">&#10008;</a>
    	                    {% endif %}
    	                
    	                {% endfor %}
    	              </div>
        	       </div>
	        </fieldset>
	        <a href="#" class="add_button2" title="Add field"><button type="button" class="btn btn-primary">Add step</button></a>
        </div>
        
          <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Recipe Preptime</legend>
        	
        	        <div>
            <input type="text" class="form-control" name="recipe_preptime" value="{{ recipe.recipe_preptime }}">
            </div>
        	</fieldset>
          </div>
          
          <div class="form-group">
              <fieldset id="buildyourform">
    		      <legend>Recipe Serves</legend>
        	
        	        <div>
            
            <input type="text" class="form-control" name="recipe_serves"  value="{{ recipe.recipe_serves }}">
            </div>
        	</fieldset>
          </div>
        
        <div class="form-group">
          
            <fieldset id="buildyourform">
    		      <legend>Recipe Description</legend>
        	
        	        <div>
            <textarea class="form-control" name="recipe_description"  rows="3">{{recipe.recipe_description}}</textarea>
        </div>
        	</fieldset>
        </div>
        
        <div class="form-group">
            <fieldset id="buildyourform">
    		<legend>Recipe Image</legend>
        	
        	        <div>
            <input type="text" name="recipe_image" class="form-control" value="{{ recipe.recipe_image }}">
          	    </div>
        	</fieldset>
            </div>
        
        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="action">Update Recipe</button>
        </div>
    </form>
    
</div>

{% endblock %}