{% extends 'base.html' %} {% block content %}

<div class="sleeve">
        <!--<div class="logo-container">-->

        
        <!--</div>-->
        
</div>

<div class="container">
    
    <div class="row">
        <div class="col-6 intro-blurb">
            <p>Welcome to Ape Eats! Ape Eats allows you to search recipes and add your own to share and discuss with
            other users. <a href="{{ url_for('register') }}">Sign up now</a> to experience all Ape Eats has to offer!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <h2>Most viewed recipes this month</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat volutpat orci, sit amet faucibus erat. Etiam dictum dictum semper. Vivamus hendrerit pharetra neque, ut dignissim nibh. In dapibus libero sit amet nunc laoreet, vel tempus mi porttitor. Vestibulum iaculis purus sit amet nunc aliquet, non sagittis est finibus. Etiam eu ultrices magna, non scelerisque ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla et interdum arcu. Curabitur consequat tortor et ultricies fermentum. Maecenas eget nisi est. Pellentesque erat mi, ornare quis quam et, varius tincidunt est.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <h2>Highest rated recipes this month</h2>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum scelerisque mattis lobortis. Vivamus euismod feugiat urna. Quisque porttitor porta aliquet. Integer ultrices scelerisque lorem, at pulvinar leo commodo a. Sed non ligula in ligula volutpat aliquam. Suspendisse tellus risus, bibendum in ultricies eu, posuere a turpis. Nulla sem elit, viverra non sollicitudin in, porta ac diam. Sed dignissim finibus libero, sit amet suscipit sem blandit ut. Integer nunc nunc, varius ut dignissim eget, interdum et sem. Fusce nec lectus vestibulum, luctus magna eu, scelerisque eros. Vestibulum suscipit ultricies massa, ac interdum ligula ullamcorper sed. Cras porttitor, lorem ac dignissim dictum, est metus egestas sem, a laoreet lectus urna quis ligula. Duis quis augue ligula. Phasellus sit amet ligula molestie, faucibus ante sed, placerat sapien.</p>
        </div>
    </div>

</div>

{% endblock %}