{% extends 'base.html' %} {% block content%}
        <h1 class="text-center">Products</h1>
        <div class="row">
          <div class="col text-center">A selection of kitchen tools including utensils and applicances for the best cooking experience!</div>
        </div>
          <div class="row">
            {% for product in products %}
            <div class="search-block col-6 col-md-4 col-lg-3">
              <!--Divides the row into four with each column containing a search result-->
              <div class="search-result">
                <div>
                  <!--<img src="recipe.recipe_image" alt="recipe image">-->
                  <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                </div>
                  <h5>{{product.product_name}}</h5>
                <div class="recipeDescription">
                  <strong>{{ product.product_description }}</strong>
                </div>
                <div>
                  <a href="{{ url_for('product', name=product.product_name) }}"><button type="button" class="btn btn-primary">Go to Product</button></a>
                </div>
              </div>
            </div>
             {% endfor %}
          </div>
        </div>
{% endblock %}