{% extends 'base.html' %} {% block content%}
    <div class="container">
        <div class="heading-box-container"> 

          <div class="row heading-box">
            <div class="col-12 col-md-6">
              <img src="{{product.product_image}}" alt="recipe image">
            </div>
            <div class="col-12 col-md-6">
              <h1>{{product.product_name}}</h1>
              <p>Price: {{product.product_price}} €9.99/£8.99</p>
              <!--<p>Category: {{product.product_category}}</p>-->
            </div>
             <div style="height: 25px; width: 100%; " >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #90CCF4;"></path></svg>
            </div>
          </div>
          
        </div>
        
         <div style="height: 25px; width: 100%; background-color: #90CCF4;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ececec;"></path></svg>
        </div>
          
      
  
          <div class="row recipe-row">
            <div class="col">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eius, maiores. Consequatur at odio, nisi est nostrum nobis repellendus sint. Alias, amet sequi eum tenetur perspiciatis atque accusantium,voluptatem quisquam.
              {{product.product_description }}</div>
           
          </div>
          
     

          <div class="row">
            <div class="col text-center">
              <!--<a href="#"><button type="button" class="btn btn-success btn-lg">Buy product</button></a>-->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Buy Now</button>
              
            </div>
          </div>
          
          <!-- Buy Now Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Checkout currently unavailable
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

    </div>
    
<!--Credits-->

<!--Spatula-->

<!--Image by <a href="https://pixabay.com/users/WikimediaImages-1185597/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2202239">WikimediaImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2202239">Pixabay</a>-->

<!--Frying Pan-->

<!--Image by <a href="https://pixabay.com/users/Silberfuchs-721/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554072">Walter Bichler</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554072">Pixabay</a>-->

<!--Cutting- board-->

<!--Image by <a href="https://pixabay.com/users/StockSnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=925544">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=925544">Pixabay</a>-->

<!--Pot-->

<!--Image by <a href="https://pixabay.com/users/Silberfuchs-721/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554068">Walter Bichler</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554068">Pixabay</a>-->

<!--Kitchen Knife-->

<!--Image by <a href="https://pixabay.com/users/Silberfuchs-721/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554067">Walter Bichler</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554067">Pixabay</a>-->

<!--Peeler-->

<!--Image by <a href="https://pixabay.com/users/Silberfuchs-721/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554070">Walter Bichler</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=554070">Pixabay</a>-->

<!--Wooden Pestle and Mortar-->

<!--Image by <a href="https://pixabay.com/users/Robert-Owen-Wahl-2077322/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1238282">Robert-Owen-Wahl</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1238282">Pixabay</a>-->

<!--Whisk-->

<!--Image by <a href="https://pixabay.com/users/InspiredImages-57296/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1056226">InspiredImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1056226">Pixabay</a>-->

<!--Blender-->

<!--Image by <a href="https://pixabay.com/users/opaye-1806/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=10934">Yao Charlen</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=10934">Pixabay</a>-->


{% endblock %}