{% extends 'base.html' %}
    {% block content %}
      <div class="container">
        <h1 class="text-center">Search Results</h1>
          <div class="row">
            {% for recipe in recipes %}
            <div class="search-result col-3">
              <div class="search-back">
                <div>
                  <img src="" alt="recipe image">
                </div>
                  <h5>{{recipe.recipe_name}} by {{recipe.name}}</h5>
                <div>
                  <strong>{{ recipe.recipe_description }}</strong>
                </div>
                <div>
                  <a href="{{ url_for('recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Go to Recipe</button></a>
                </div>
              </div>
            </div>
             {% endfor %}
          </div>
        </div>
    {% endblock %}
    


  
  


    
   