{% extends 'base.html' %}
{% block content %}
        <div class="container">
          <div class="row heading-box">
            <div class="col-12 col-md-6">
                  {% if recipe.recipe_image != "" %}
                  <img src="{{recipe.recipe_image}}" alt="recipe image">
                  {% else %}
                  <img src="../static/img/dose-juice-unsplash.jpg" alt="recipe image">
                  {% endif %}
            </div>
          
            <div class="col-12 col-sm-6">
              
              
              
              <div class="row">
                <div class="col-12">
                <h1>{{recipe.recipe_name}}</h1>
                </div>
                
                <div class="col-12">
                <h3>by <a href="#"><strong>{{recipe.name}}</strong></a></h3>
                </div>
                
                <div class="col-12">
                <p>Views: {{ recipe.views }} | Favourites: {{ recipe.favourites | length}}</p>
                
                
                </div>
              <div class="col-12 col-md-6 col-lg-4">Preparation Time: {{recipe.recipe_preptime}} </div>
              <div class="col-12 col-md-6 col-lg-4">Cooking Time: </div>
              <div class="col-12 col-md-6 col-lg-4">Serves: {{recipe.recipe_serves}}</div>
              <div class="col-12 col-md-6">Diet: 
              {% for diet_type in recipe.diet %}
              {% if diet_type == "Gluten-free" %}
              <div class="diet-image-container">
                <img src="../static/img/diet/no-gluten.png" alt="no gluten image">
              </div>
              {% elif diet_type == "Vegan" %}
              <div class="diet-image-container">
                <img src="../static/img/diet/no-dairy.png" alt="no dairy image">
              </div>
              {% elif diet_type == "Vegetarian" %}
              <div class="diet-image-container">
                <img src="../static/img/diet/no-meat.png" alt="no meat image">
              </div>
              {% elif diet_type == "Nut-free" %}
             <div class="diet-image-container">
                <img src="../static/img/diet/no-nuts.png" alt="no nuts image">
              </div>
              {% endif %}
              {% endfor %}
              </div>
              <div class="col-12 col-md-6">Cuisine: {{recipe.recipe_type}}</div>
                
                
                
              </div>
            
            
            
            
                        <!--The following options will only appear if the username of the author of the recipe matches the username of the username currently viewing the recipe. Else the user will be given the option to add the recipe to their favourites-->
            {% if session.username %}
            {% if session.username == recipe.name %}
            <div class="row">
              <div class="col-6">
                    <a href="{{ url_for('edit_recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary">Edit recipe</button></a>
              </div>
              <div class="col-6">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                      Delete Recipe
                    </button>
              </div>
            </div>
          
          <!-- Delete Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this recipe?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a href="{{ url_for('delete_recipe', id=recipe._id) }}"><button type="button" class="btn btn-danger">Delete recipe</button></a>
                </div>
              </div>
            </div>
          </div>
          
              {% else %}
                {% if session.username in recipe.favourited_by%}
                <div class="row">
                  <div class="col">
                    <a href="{{ url_for('remove_favourite', id=recipe._id) }}"><button type="button" class="btn btn-danger btn-lg">Remove recipe from my favourites +</button></a>
                  </div>
                </div>
                
                  
                  {% else %}
                  <div class="row">
                    <div class="col">
                      <a href="{{ url_for('add_favourite', id=recipe._id) }}"><button type="button" class="btn btn-success btn-lg">Add recipe to my favourites +</button></a>
                    </div>
                  </div>
                  {% endif %}
              {% endif %}
                
              {% else %}
              <div class="row">
                <div class="col"><p>Login to add recipe to your favourites</p></div>
              </div>
              {% endif %}
              </div>
          
             <!-- <div class="col-12 col-md-6 col-lg-4">Preparation Time: {{recipe.recipe_preptime}} </div>-->
             <!-- <div class="col-12 col-md-6 col-lg-4">Cooking Time: </div>-->
             <!-- <div class="col-12 col-md-6 col-lg-4">Serves: {{recipe.recipe_serves}}</div>-->
             <!-- <div class="col-12 col-md-6">Diet: -->
             <!-- {% for diet_type in recipe.diet %}-->
             <!-- {% if diet_type == "Gluten-free" %}-->
             <!-- <div class="diet-image-container">-->
             <!--   <img src="../static/img/diet/no-gluten.png" alt="no gluten image">-->
             <!-- </div>-->
             <!-- {% elif diet_type == "Vegan" %}-->
             <!-- <div class="diet-image-container">-->
             <!--   <img src="../static/img/diet/no-dairy.png" alt="no dairy image">-->
             <!-- </div>-->
             <!-- {% elif diet_type == "Vegetarian" %}-->
             <!-- <div class="diet-image-container">-->
             <!--   <img src="../static/img/diet/no-meat.png" alt="no meat image">-->
             <!-- </div>-->
             <!-- {% elif diet_type == "Nut-free" %}-->
             <!--<div class="diet-image-container">-->
             <!--   <img src="../static/img/diet/no-nuts.png" alt="no nuts image">-->
             <!-- </div>-->
             <!-- {% endif %}-->
             <!-- {% endfor %}-->
             <!-- </div>-->
             <!-- <div class="col-12 col-md-6">Cuisine: {{recipe.recipe_type}}</div>-->
              
              
              
              <div style="height: 75px; width: 100%;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.00 C150.00,150.00 350.00,150.00 500.00,50.00 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ececec;"></path></svg>
              </div>
            
            </div>
           
          
          
          <!--<div class=" row">-->
          <!--  <div class="col">-->
          <!--    <h1>{{recipe.recipe_name}}</h1>-->
          <!--  </div>-->
          <!--</div>-->
          
          <!--<div class="row">-->
          <!--  <div class="col">-->
          <!--    <h3>by <a href="#"><strong>{{recipe.name}}</strong></a></h3>-->
          <!--    </div>-->
          <!--</div>-->
          
          <!--<div class="row">-->
          <!--  <div class="col">Created: {{ recipe.date_created }}</div>-->
          <!--  {% if recipe.last_updated %}-->
          <!--  <div class="col">Last updated: {{ recipe.last_updated }}</div>-->
          <!--  {% endif %}-->
          <!--</div>-->
          
          <!--<div class="recipe-row row">-->
          <!--  <div class="col-md-4">Views: {{ recipe.views }}</div>-->
          <!--  <div class="col-md-4">Starred: </div>-->
          <!--  <div class="col-md-4">Likes: {{ recipe.likes }}-->
              <!--<form action="{{ url_for('recipe', id=recipe._id) }}" method="POST">-->
              <!--   <button class="btn btn-primary" type="submit" name="action">Like this recipe</button>-->
              <!--</form>-->
            <!--</div>-->
            <!--<div class="col-md-3">Rating: </div>-->
            <!--<div class="col-md-3">Your Rating: </div>-->
          <!--</div>-->
          
          <div class="row recipe-row">
            <div class="col">
            {% if recipe.recipe_description %}
              {{recipe.recipe_description }}
            {% else %}
              <p>No description added yet.</p>
              <!--if user click here to add description-->
              {% if session.username == recipe.name %}
             <a href="{{ url_for('edit_recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary btn-lg">Add description now</button></a>
              {% endif %}
            {% endif %}
            </div>
          </div>
          
          <!--<div class="recipe-row row">-->
          <!--  <div class="col-md-4">Preparation Time: {{recipe.recipe_preptime}}</div>-->
          <!--  <div class="col-md-4">Cooking Time: </div>-->
          <!--  <div class="col-md-4">Serves: {{recipe.recipe_serves}} </div>-->
          <!--</div>-->
          
          <!-- <div class="recipe-row row">-->
          <!--  <div class="col-12">Diet: </div>-->
          <!--  <div class="col-12">Allergens</div>-->
          <!--  <div class="col-12">Meal Type: {{recipe.recipe_type}}</div>-->
          <!--</div>-->
        
            <!--Ingredients/Steps tabs-->
            
          <div class="row recipe-row">
            <div class="col">
              <h5>Ingredients</h5>
                       <ul class="no-list-style">
                          {% for ingredient in recipe.recipe_ingredients %}
                            {% if loop.index % 2 == 0 %}
                            <li class="ingredient grey">{{ingredient}}</li>
                            {% else %}
                            <li class="ingredient">{{ingredient}}</li>
                            {% endif %}
                            
                          {% endfor %}
                        </ul>
            </div>
          </div>
          
          <div class="row recipe-row">
            <div class="col">
              <h5>Steps</h5>
                       <ol class="no-list-style" >
                          {% for step in recipe.recipe_steps %}
                            {% if loop.index % 2 == 0 %}
                            <li class="step grey">{{ loop.index }}. {{step}}</li>
                            {% else %}
                            <li class="step">{{ loop.index }}. {{step}}</li>
                            {% endif %}
                            
                          {% endfor %}
                        </ol>
            </div>
          </div>
          <!--  <div class="row recipe-row">-->
          <!--    <div class="col">-->
            
          <!--      <ul class="nav nav-tabs" id="myTab" role="tablist">-->
          <!--        <li class="nav-item">-->
          <!--          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="true">Ingredients</a>-->
          <!--        </li>-->
          <!--        <li class="nav-item">-->
          <!--          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#steps" role="tab" aria-controls="steps" aria-selected="false">Steps</a>-->
          <!--        </li>-->
          <!--      </ul>-->
          <!--      <div class="tab-content" id="myTabContent">-->
          <!--          <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="home-tab">-->
          <!--            <h5>Ingredients</h5>-->
          <!--             <ul>-->
          <!--                {% for ingredient in recipe.recipe_ingredients %}-->
          <!--                  <li>{{ingredient}}</li>-->
          <!--                {% endfor %}-->
          <!--              </ul>-->
          <!--        </div>-->
          <!--        <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="profile-tab">-->
          <!--          <h5>Steps</h5>-->
          <!--          <ul>-->
          <!--               {% for step in recipe.recipe_steps %}-->
          <!--                <li>{{step}}</li>-->
          <!--               {% endfor %}-->
          <!--            </ul>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
          
       
      
          <!--The following options will only appear if the username of the author of the recipe matches the username of the username currently viewing the recipe. Else the user will be given the option to add the recipe to their favourites-->
          <!--{% if session.username == recipe.name %}-->
          <!--<div class="row recipe-row">-->
          <!--  <div class="col">-->
          <!--        <a href="{{ url_for('edit_recipe', id=recipe._id) }}"><button type="button" class="btn btn-primary btn-lg">Edit recipe</button></a>-->
          <!--        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">-->
          <!--          Delete Recipe-->
          <!--        </button>-->
          <!--  </div>-->
          <!--</div>-->
          
          <!-- Delete Modal -->
          <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
          <!--  <div class="modal-dialog" role="document">-->
          <!--    <div class="modal-content">-->
          <!--      <div class="modal-header">-->
          <!--        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>-->
          <!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--          <span aria-hidden="true">&times;</span>-->
          <!--        </button>-->
          <!--      </div>-->
          <!--      <div class="modal-body">-->
          <!--        Are you sure you want to delete this recipe?-->
          <!--      </div>-->
          <!--      <div class="modal-footer">-->
          <!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
          <!--        <a href="{{ url_for('delete_recipe', id=recipe._id) }}"><button type="button" class="btn btn-danger">Delete recipe</button></a>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
          <!--{% if session.username %}-->
          <!--    {% if session.username in recipe.favourited_by%}-->
          <!--    <div class="row">-->
          <!--      <div class="col">-->
          <!--        <a href="{{ url_for('remove_favourite', id=recipe._id) }}"><button type="button" class="btn btn-danger btn-lg">Remove recipe from my favourites +</button></a>-->
          <!--      </div>-->
          <!--    </div>-->
              
              
          <!--    {% else %}-->
          <!--    <div class="row">-->
          <!--      <div class="col">-->
          <!--        <a href="{{ url_for('add_favourite', id=recipe._id) }}"><button type="button" class="btn btn-success btn-lg">Add recipe to my favourites +</button></a>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--    {% endif %}-->
          <!--  {% endif %}-->
            
          <!--{% else %}-->
          <!--<div class="row">-->
          <!--  <div class="col"><p>Login to add recipe to your favourites</p></div>-->
          <!--</div>-->
          <!--{% endif %}-->
          
          <!--Product Suggestion Section - Will only appear if user has included suggestions in addrecipe.html or editrecipe.html-->
          
          {% if recipe.tools %}
            <div class="row">
              <div class="col">
                <h2>Product Suggestions</h2>
              </div>
            </div>
              {% for tool in recipe.tools %}
              <div class="row">
                  <div class="col">{{tool}}</div>
              </div>
              <div class="row">
                <div class="col col-6 col-md-4 col-lg-3">
                  <a href="{{ url_for('product', name=tool) }}"><button  type="button" class="btn btn-success btn-lg">Visit Product Page</button></a>
                </div>
              </div>
              {% endfor %}
            {% endif %}
  
        </div>
        
{% endblock %}