{% extends 'base.html' %}
    {% block content %}
    
        
        {% for recipe in recipes %}
        
        <div class="container">
          <div class="recipe-row row">
            <h5 class="mb-0">
  
                  <strong>{{recipe.recipe_name}}</strong> by <strong>{{recipe.name}}</strong>
                  
                  </h5>
          </div>
          
          <div class="recipe-row row">
            <strong>Preptime: {{recipe.recipe_preptime}}</strong>
          </div>
          
          <a href="{{ url_for('recipe', id=recipe._id) }}">Go to recipe</a>
        </div>
            
        {% endfor %}
    {% endblock %}
    


  
  


    
   