{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="text-center">Registration Page</h1>
    <form method=POST action="{{ url_for('register') }}" class="needs-validation" novalidate>
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" minlength="2" maxlength="10" required>
        <small class="form-text text-muted">Please enter a username 2-10 characters long.</small>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please choose a valid username.
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" minlength="8" maxlength="16" required>
        <small class="form-text text-muted">Please enter a password 8-16 characters long.</small>
      </div>
      <div class="form-group">
        <label>Choose an avatar: </label><br>
         <!--An image takes the place of text for user to select-->
          <label>
            <input class="avatarRadio" type="radio" name="avatar" value="../static/img/avatars/avatar1.png" checked>
            <img src="../static/img/avatars/avatar1.png" alt="First Avatar">
          </label>
          <label>
            <input class="avatarRadio" type="radio" name="avatar" value="../static/img/avatars/avatar2.png">
            <img src="../static/img/avatars/avatar2.png" alt="Second Avatar">
          </label>
          <label>
            <input class="avatarRadio" type="radio" name="avatar" value="../static/img/avatars/avatar3.png">
            <img src="../static/img/avatars/avatar3.png" alt="Third Avatar">
          </label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Register</button><br>Already have an account? <a href="{{ url_for('login') }}">Login here</a>
      </div>
    </form>
</div>
{% endblock %}